*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.5;
}
header{
    display: inline-block;
}

textarea{
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    width: 100%;
}

body{
    padding: 5px;
    background:#E5E5E5 ;
    min-height: 100vh;

}

main{
    
    display: flex;
    height: 100vh;
    padding: 20px;
}

.contenido{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  
}

.seccion1{
    
    height: 100%;
    flex-grow: 5;
}

.seccion2{
   
    height: 100%;
    flex-grow: 1;
    padding: 50px;
    min-width: 592px;
    max-width: 592px;
}

.seccion2 h1 {
    font-size: 25px;
}

.resultados {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    border-radius: 24px;
}

.botones {
    display: flex;
    padding: 0 10px;
    height: 60px;
    gap: 10px;
}

.btnEncriptar {
    flex-grow: 1;
}

.btnDesencriptar {
    flex-grow: 1;
}



#Encripta{
    height: 60%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    padding-left: 30px;
    padding-top: 75px;
}
#texArea{
    
    color: #0A3871;
}

button.btnEncriptar{
    flex-grow: 1;
    background: #0A3871;
    border-radius: 24px;
    font-size: 25px;
    color : #fff
}

button.btnDesencriptar{
    flex-grow: 1;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 25px;
}

button.btnCopiar{
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    height: 60px;
    font-size: 25px;
}

.bloque-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloque-salida {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ocultar {
    display: none;

}

@media (max-width:1080px){
    .contenido{ flex-direction: column;
    }
    .seccion2{
        max-width: unset;
        min-width: unset;
        width: 100%;
    }
}

@media (max-width:600px){
    .img{
        display:none;
    }
}

.footer{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding: 15px 0;
}

.iconos{
    margin-left: 2px;
}

@media screen and (max-width:480px) {
   

}

